<div class="container-sign-up">
  <h2>Sign up</h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs-signup">
      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "email" }%>
      <%= f.input :name,
          required: false,
          input_html: { autocomplete: "name" } %>
      <%= f.input :user_name,
          required: false,
          input_html: { autocomplete: "username" } %>
      <%= f.input :photo,
                    as: :file,
                    label: render("games/upload_photo_label"),
                    wrapper_html: {
                      data: {
                        controller: 'preview-photo'
                      }
                    },
                    input_html: {
                      class: "d-none",
                      data: {
                        preview_photo_target: :input,
                        action:"change->preview-photo#displayPreview"
                      }
                    } %>
      <%= f.input :password,
                  required: true,
                  hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  required: true,
                  input_html: { autocomplete: "new-password" } %>

    </div>

    <div class="form-actions">
      <%= f.button :submit, "Sign up", class: 'btn-sign-up' %>
    </div>
  <% end %>
</div>
<div class="container-log-in-2">
  <%= render "devise/shared/links" %>
</div>
