<div class="">
  <h3 class="title-game">Games list:</h3>
    <ol class="deco-lists list-unstyled">
      <% @games.sort_by { |obj| -obj.id }.each do |game| %>
        <div class="test-list">
          <li data-game-selection-target="btn"
              data-latitude="<%= game.lat %>"
              data-longitude="<%= game.lng %>"
              data-duration="<%= game.duration %>">
            <%= link_to join_game_path(game), data: {turbo_method: "PATCH"}, class: "text-decoration-none games-list d-flex" do  %>
              <%= game.name %>
            <% end %>
          </li>
        </div>
      <% end %>
    </ol>
</div>
