
<div
  data-controller="location"
  data-location-markers-value="<%= markers.to_json %>"
  data-location-area-center-lat-value="<%= game.lat %>"
  data-location-area-center-lng-value="<%= game.lng %>"
  data-location-area-radius-value="<%= game.duration %>"
  data-location-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
  class="bg-image">
  <div data-controller="toggle-chat">
    <div class="d-flex justify-content-center chat">
      <h1 class="battle-area border-0 ms-2 mt-2 p-2 rounded-3"><%= game.name %></h1>
      <div class="bottom-0 p-2 position-fixed rounded-top-3 w-100 bottom-container">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div data-controller="timer"
                   data-timer-duration-in-seconds-value="<%= remaining_time_in_seconds %>">
                    <h4>Time remaining: <span data-timer-target="counter"></span></h4>
              </div>
            </div>
            <div class="Qrcode"  data-controller="qrcode" data-qrcode-scan-url-value="<%= scan_game_path(@game) %>" data-qrcode-target='divSaMere'>
              <div class="Qrcode-enfant">
                <div class="zone-qrcode text-align-center">
                  <button data-action="click->qrcode#startScanning"
                          data-qrcode-target="start"
                          class="border-1 pt-3 ps-3 pe-3 rounded-3 rounded-lg btn-start-qrcode">
                    <i class="fa-solid fa-camera fa-beat fa-2xl" style="color: #c2a83e;"></i>
                    <h6 class="pt-2">Scan</h6>
                </button>
                </div>
                <button data-action="click->qrcode#stopScanning"
                        data-qrcode-target="stop"
                        class="btn-show d-none btn-qrcode-stop">
                  <i class="fa-solid fa-xmark fa-2xl" style="color: #c2a83e;"></i>
                </button>
                <video class="d-none video-style" data-qrcode-target="video"></video>
              </div>
            </div>
            <div class="col-5">
              <%= cl_image_tag opponent_user_game.photo.key, height: 150, width: 150, crop: :fill, gravity: :face, class: "photo-player-show rounded-circle" %>
            </div>
            <div class="col-7 pt-5 target">
              <h2 class="ms-3 pt-4">Your target</h2>
              <h3><i class="fa-solid fa-bullseye fa-lg" style="color: #000000;"></i>
              <%= opponent_user_game.user.name %>  <i class="fa-solid fa-bullseye fa-lg" style="color: #000000;"></i>
              </h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div data-location-target="startTracking">
   <div id="map-home" class="" style="height: 90vh" data-location-target="map"></div>
  </div>

</div>
