<div class="Area" >
  <p><%= game.name %></p>
  <%# Emplacement de la map area de la game %>
    <div
      data-controller="location"
      data-location-markers-value="<%= markers.to_json %>"
      data-location-area-center-lat-value="<%= game.lat %>"
      data-location-area-center-lng-value="<%= game.lng %>"
      data-location-area-radius-value="<%= game.duration %>"
      data-location-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
    >
      <div data-location-target="startTracking">
        <div id="map-home" class="" style="height: 200px" data-location-target="map"></div>
      </div>
    </div>
</div>

<div class="container-settings" data-controller="rematch" data-rematch-target="items">
  <p><%= game.name%>'s settings</p>
  <h4>Game duration: <%= game.duration %>min</h4>

  <%= simple_form_for user.find_user_game(game) do |f| %>
    <div class="container container-avatar-players">
      <div class="row">
        <div class="col-6">
          <%= cl_image_tag creator_user_game.photo.key, crop: :thumb, class: 'avatar-players shape', gravity: :face %>
        </div>

        <div class="col-6">
          <% if challenger_user_game && challenger_user_game.photo.attached? %>
            <%= cl_image_tag challenger_user_game.photo.key, crop: :thumb, class: 'avatar-players shape2', gravity: :face %>
          <% elsif user == challenger_user_game.user && !challenger_user_game.photo.attached? %>
            <%= f.input :photo,
                        as: :file,
                        label: render("games/upload_photo_label_2"),
                        wrapper_html: {
                          data: {
                            controller: 'preview-photo'
                          }
                        },
                        input_html: {
                          class: "d-none",
                          data: {
                            preview_photo_target: :input,
                            action:"change->preview-photo#displayPreview"
                          }
                        } %>
          <% else %>
            <%= image_tag('waiting.gif', alt: 'Waiting opponent', class:"avatar-players shape2") %>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <%# AS CREATOR %>
          <% if user == creator_user_game.user && challenger_user_game.nil? %>
            Waiting for an opponent to join in
          <% elsif user == creator_user_game.user && challenger_user_game && !challenger_user_game.photo.attached? %>
            Waiting for your opponent to show his face
          <% elsif user == creator_user_game.user && challenger_user_game && challenger_user_game.photo.attached? %>
            Your target is ready to go!
          <%# AS CHALLENGER %>
          <% elsif user == challenger_user_game.user && challenger_user_game.photo.attached? %>
            Your opponent is about to start the game.
          <% elsif user == challenger_user_game.user && !challenger_user_game.photo.attached? %>
            <%= f.submit "Upload my selfie", class: 'btn-return-show' %>
          <% end %>
        </div>
      </div>

    </div>
  <% end %>
</div>

<div class="container-return d-flex justify-content-center">
  <% if user == creator_user_game.user && challenger_user_game && challenger_user_game.photo.attached? %>
    <%= link_to "Let's GO !!", start_game_path(game), data: {turbo_method: "PATCH"}, class: 'btn-return-show'%>
  <% end %>
</div>
