<h1>Bonjour</h1>
<div data-controller="game-selection">
  <div class="d-flex justify-content-center">
      <%= image_tag "test-logo-home.png", height: 80, class: "logo-home"%>
  </div>
  <div class="container-select" data-game-selection-target="items">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <div class="fixed-bottom mb-2 text-center">
    <button class="btn-create" data-action="click->game-selection#popUp">Create</button>
    <%= link_to pages_path, class: "text-decoration-none" do %>
      <button class="btn-return" data-game-selection-target="return" >Return</button>
    <% end %>
    <div class="container px-5 d-none" data-game-selection-target="form">
      <%= simple_form_for Game.new do |f| %>
        <%= f.hidden_field :lat, data: { game_selection_target: "latitude" } %>
        <%= f.hidden_field :lng, data: { game_selection_target: "longitude" } %>
        <%= f.input :duration, collection: Game::DURATION, prompt: "Choose game duration", label: "Duration"%>
        <% f.input :mode, collection: Game::MODE, prompt: "Selectionner le mode de", label: "mode de jeu"%>
        <%= f.input :name, label: 'Name of the game' %>
        <%= f.input :photo, as: :file %>
        <%= f.submit class: 'btn-create-game'%>
      <% end %>
    </div>
  </div>
</div>
