<div data-controller="game-selection">
  <div class="d-flex justify-content-center">
      <%= image_tag "logo-home.png", height: 80, class: "logo-index"%>
  </div>
  <div class="container-select" data-game-selection-target="items">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>

  <div class="fixed-bottom text-center">
    <button class="btn-create" data-action="click->game-selection#popUp">Create</button>
    <%= link_to pages_path, class: "text-decoration-none" do %>
      <button class="btn-return" data-game-selection-target="return" >Return</button>
    <% end %>
    <div class="container-create px-5 d-none" data-game-selection-target="form">
      <%= simple_form_for Game.new do |f| %>
        <%= f.hidden_field :lat, data: { game_selection_target: "latitude" } %>
        <%= f.hidden_field :lng, data: { game_selection_target: "longitude" } %>
        <%# f.hidden_field :mode, collection: Game::MODE, prompt: "Selectionner le mode de", label: "mode de jeu"%>
        <%= f.input :name, label: 'Name of the war' %>
        <%= f.input :duration, collection: Game::DURATION, prompt: "Choose game duration", label: "Duration"%>
        <%= f.input :photo,
                    as: :file,
                    label: render("upload_photo_label"),
                    wrapper_html: {
                      data: {
                        controller: 'preview-photo'
                      }
                    },
                    input_html: {
                      class: "d-none",
                      data: {
                        preview_photo_target: :input,
                        action:"change->preview-photo#displayPreview"
                      }
                    } %>
          <%= f.submit class: 'btn-create-game', data: { game_selection_target: 'btnSubmit' }, disabled: true %>
      <% end %>
    </div>
  </div>
</div>
