<div class="container-log-in">
  <h2>Log in</h2>
  <div data-controller="user-qrcode">
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-inputs-login">
        <%= f.input :email,
                    required: false,
                    autofocus: true,
                    input_html: { autocomplete: "email" } %>
        <%= f.input :password,
                    required: false,
                    input_html: { autocomplete: "current-password" } %>
        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>

      </div>

      <div class="form-actions">
        <%= f.button :submit, "Log in", class: 'btn-log-in' %>
      </div>
    <% end %>
    <div class="container-btn-log d-flex ">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
